@font-face {
	font-family: 'ProximaNova';
    src: local('ProximaNova'), url("src/assets/fonts/proxima-nova-regular.woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
    src: local('ProximaNova'), url("src/assets/fonts/proxima-nova-bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
    src: local('ProximaNova'), url("src/assets/fonts/proxima-nova-semibold.woff2");
    font-weight: 500;
    font-style: normal;
}



